<div class="row st-detail">
    <div class="col-2">{{detail.name}}</div>
    <div class="col-2">{{detail.age}}</div>
    <div class="col-2">{{detail.gender}}</div>
    <div class="col-2">{{detail.grade}}</div>
    <div class="col-4">
        <button type="button" class="btn btn-primary btn-sm" (click)="handleAdd()">Add</button>
        <button type="button" class="btn btn-success btn-sm" (click)="handleUpdate()">Update</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="handleRemove()">Remove</button>
    </div>
</div>