/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
.navbar {
    border-bottom: 1px solid #dce5f2;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 0.75rem;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #b69af1;
}